# See http://help.github.com/ignore-files/ for more about ignoring files.
node_modules
# Compiled output
portfolio-ng-app/dist
portfolio-ng-app/tmp
portfolio-ng-app/out-tsc
portfolio-ng-app/bazel-out

# Node
portfolio-ng-app/node_modules
portfolio-ng-app/npm-debug.log
portfolio-ng-app/yarn-error.log

# IDEs and editors
portfolio-ng-app/.idea/
portfolio-ng-app/.project
portfolio-ng-app/.classpath
portfolio-ng-app/.c9/
portfolio-ng-app/*.launch
portfolio-ng-app/.settings/
portfolio-ng-app/*.sublime-workspace

# Visual Studio Code
portfolio-ng-app/.vscode/*
!portfolio-ng-app/.vscode/settings.json
!portfolio-ng-app/.vscode/tasks.json
!portfolio-ng-app/.vscode/launch.json
!portfolio-ng-app/.vscode/extensions.json
portfolio-ng-app/.history/*

# Miscellaneous
portfolio-ng-app/.angular/cache
portfolio-ng-app/.sass-cache/
portfolio-ng-app/connect.lock
portfolio-ng-app/coverage
portfolio-ng-app/libpeerconnection.log
portfolio-ng-app/testem.log
portfolio-ng-app/typings

# System files
portfolio-ng-app/.DS_Store
portfolio-ng-app/Thumbs.db
